.details-card {
  height: 400px;
  width: 300px;
  border: solid 2px orange;
  margin: 5px;
}

.details-img {
  height: 90px;
}

h3 {
  margin: 5px;
  font-size: 14px;
}

h4 {
  
  margin: 5px;
  font-size: 12px;
}

p {
  font-size: 11px;
}

.card-head {
  display: flex;
}