.main-home {
  display: flex;
  justify-content: flex-start;
}

.recs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px green;
}

.details-sect {
  display: flex;
  justify-content: center;
  width: 100vw;
  border: solid 2px pink;
}

/* for larger screens */
@media screen and (min-width: 900px) {
  .main-home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .details-sect {
    width: 30vw;
    align-items:baseline;
    justify-content: flex-start;
  }
}